.home_left_position {
  position: fixed;
  left: 30px;
  bottom: 95px;
  color: white;
  transform: rotate(-90deg);
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
  z-index: 9999;
  isolation: isolate;
  pointer-events: none;
  mix-blend-mode: difference;
}