.project_2_all {
    background-color: white;
}

.project_2_up {
    padding: 90px 200px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    h1 {
        font-size: 74px;
        font-weight: 500;

        span {
            font-weight: 100;
        }
    }

    button {
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
        border: none;
        background-color: transparent;

        &:hover {
            .project_2_up_icon {
                font-size: 44px;
            }
        }

        p {
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1px;
        }

        .project_2_up_icon {
            font-size: 40px;
            color: #e5e5e5;
            border-radius: 50%;
            background-color: black;
            transition: all 0.4s ease;
        }
    }

}

.project_2_mid {
    padding: 90px 200px;
    display: flex;
    flex-direction: column;
    gap: 90px;

    .project_2_mid_up {
        display: flex;
        gap: 100px;

        .project_2_mid_up_l {
            width: 40%;
            display: flex;
            flex-direction: column;
            gap: 50px;

            button {
                width: fit-content;
                display: flex;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 1px;
                border: none;
                background-color: transparent;
                display: flex;
                align-items: center;
                gap: 20px;
                cursor: pointer;

                &:hover {
                    .project_2_mid_icon {
                        font-size: 44px;
                    }
                }

                .project_2_mid_icon {
                    font-size: 40px;
                    background-color: black;
                    color: #e5e5e5;
                    border-radius: 50%;
                    transition: all 0.4s ease;
                }
            }

            .project_2_mid_l_1 {
                display: flex;
                flex-direction: column;
                border-bottom: #e5e5e5 1px solid;


                p {
                    padding: 20px 0;
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 1px;
                    border-top: 1px solid #e5e5e5;
                }
            }

            .project_2_mid_l_2 {
                display: flex;
                flex-direction: column;
                gap: 30px;

                p {
                    width: 80%;
                    color: #9F9F9F;
                    font-weight: 300;
                }

                h2 {
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }

        .project_2_mid_up_r {
            display: flex;
            flex-direction: column;
            gap: 30px;

        }
    }

    .project_mid_down {
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #e5e5e5;

        p {
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 2px;
            color: #3F3F3F;
        }

        .project_flex_link {
            display: flex;
            align-items: center;
            gap: 10px;

            &:hover {
                .project_link_icon {
                    font-size: 44px;
                }
            }
        }

        .project_link_icon {
            font-size: 40px;
            color: #e5e5e5;
            background-color: black;
            border-radius: 50%;
            transition: all 0.4s ease;
        }
    }
}


@media(max-width: 1200px) {
    .project_2_mid {
        padding: 90px 50px;
    }

    .project_2_mid_up {
        padding: 90px 50px;
        flex-direction: column;
        align-items: center;

        .project_2_mid_up_l {
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }

    .project_2_mid_l_2 {
        align-items: center;
        text-align: center;

        p {
            width: 100%;
        }
    }
}

@media(max-width: 768px) {
    .project_2_up {
        padding: 90px 50px;
        align-items: center;
        text-align: center;

        button {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    .project_2_mid {
        padding: 90px 30px;
    }

    .project_2_mid_up {
        padding: 0;
    }

    .project_2_mid_up_l button {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .project_2_mid_up_r img {
        width: 400px;
        height: 300px;
    }

    .project_2_all .contact_box_down {
        padding: 130px 50px;

        h2 {
            font-size: 42px;
        }
    }

}